<div class="layout__navbar navbar-light bg-white justify-content-between">
  <nav class="layout__navbar__inner navbar navbar-expand-lg">
  
    {% if page.permalink == "community-report/" %}
    <a class="navbar-brand" href="#">BCBSRI Community Report</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav"class="collapse navbar-collapse">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-primary" href="#healthy-kids">Healthy Kids</a>
          <ul class="submenu list-unstyled">
            <li class="submenu-item"><a class="nav-link" href="#blueangel">BlueAngel Community Health Grants</a></li>
            <li class="submenu-item"><a class="nav-link" href="#recess">#RecessRocksinRI</a></li>
            <li class="submenu-item"><a class="nav-link" href="#movement">Raising Money with Movement</a></li>
            <li class="submenu-item"><a class="nav-link" href="#healthcheck">NBC Health Check Kids</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" href="#access">Access</a>
          <ul class="submenu list-unstyled">
            <li class="submenu-item"><a class="nav-link" href="#uninsured">Wellness for the Uninsured</a></li>
            <li class="submenu-item"><a class="nav-link" href="#transition">Transition to Insurance</a></li>
            <li class="submenu-item"><a class="nav-link" href="#healthy-community">Promoting a healthy community</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="#equity">Health Equity & Quality</a>
        </li>
      </ul>
    </div>
    {% elsif page.permalink == "annual-report/" %}
    <a class="navbar-brand" href="#">BCBSRI Annual Report</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav"class="collapse navbar-collapse">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-primary active" href="#">Letter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary active" href="#">Accelerate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary active" href="#innovate">Innovate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary active" href="#">Enable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary active" href="#">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary active" href="#">Financial</a>
        </li>
      </ul>
    </div>
    {% endif %}
  
  </nav>
</div>